@charset "utf-8";
@font-face {
    font-family: font01;
    src: url(font/cocogoose_classic/Cocogoose-Classic-Medium-trial.ttf);
}
@font-face {
    font-family: font02;
    src: url(font/ModernSans-Light.otf);
}


nav{
    padding-top: 0px;
    text-align: right;
    min-width: 150px;
    
}
nav > a {
    font-family: font02;
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(145, 145, 145);
    padding: 22px;
    transition-duration: .8s;
    border-radius: 50px;
}
nav > a:hover {
    background-color: #f2cec9;
    color: rgb(145, 145, 145);
}
header>h1{
    padding-top: 150px;
    font-family: font02;
    font-size: 2.5em;
    color: rgb(64, 64, 64);

}
header>h2{
    font-family: font02;
    color: rgb(64, 64, 64);
    line-height: 35px;
    font-size: 1.3em;
    
}
header>p{
    font-family: font02;
    text-align: justify;
    line-height: 30px;
    width: 400px;
    padding-top: 30px;
}
body{
    
        background-image: url(img/4918431.jpg);
        background-repeat: no-repeat;
        background-position: center;
        
        max-width: 1400px;
        min-width: 350px;
        margin: auto;
        padding: 100px;
    }

    main{
        margin: auto;
        background-color: #f2cec9;
        background-image: url(img/thicasozinha.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        width: 550px;
        height: 400px;
        padding: 30px;
        border-radius: 20px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.725);
        box-shadow: 10px 10px 10px 6px rgba(0, 0, 0, 0.059);
        
    }
    #conteudo{
        position: absolute;
        margin: auto;
        right: 100px;
        top: 350px;
    }
    main>h1{
        font-family: font02;
        color: rgb(64, 64, 64);
        font-size: 25px;
        padding-bottom: 15px;
    }
    main>h2{
        font-family: font02;
        color: rgb(64, 64, 64);
        font-size: 15px;
    }
    main>p{
        font-family: font02;
        color: rgb(64, 64, 64);
        font-size: 0.9em;
        width: 200px;
        padding-top: 5px;
        padding-bottom: 10px;
        line-height: 15px;
    }

    .link#terapia{
        position: absolute;
        margin-top: 70px;
        font-family: font02;
        font-weight: bold;
        text-align: center;
        border-radius: 50px;
        width: 250px;
        height: 70px;
        background-color: #f2cec9;
        box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.259);
    }
    .link#ig{
        position: absolute;
        margin-top: 200px;
        font-family: font02;
        font-weight: bold;
        text-align: center;
        border-radius: 50px;
        width: 250px;
        height: 70px;
        background-color: #f2cec9;
        box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.259);

    }
    footer{
     
       font-family: font01;
       color: rgb(122, 122, 122);
            margin-top: 400px;
            text-align: right;
            
        
    }
   