@charset "utf-8";

body {
    background-color: blanchedalmond;
}
h1 { 
    color: rgb(230, 151, 54);
}
h1#principal{
    background-color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
}
h2{ 
    color: rgb(150, 113, 69);
}
p{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
}
.basico{
    color: black;
}
.intermediario{
    color: blue;
}
.avancado{
    color: blueviolet;
}
