
@font-face {
    font-family:'thica';
    src: url('font/better.otf');
  }
    body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #F28F99;
        background-image:url(cerebro.webp);
    }
    nav{
        background-color: white;
        padding: 5px;
        border-radius: 20px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.374);
    }
    nav > a {
        text-decoration: none;
        font-weight: bold;
        margin-right: 90px;
        text-align: left;
        color: #736667;
        
    }

    nav > a:hover{
        text-decoration: underline;
    }
    h1{
        font: 200px 'thica';
        text-shadow: 4px 4px 5px white;
        margin: 30px;

    }
    header{
        background-color: #f4d9dc82;
        width: auto;
        padding: 5px;
        margin: 5px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.374)
    }
    main{
            
        color: #736667;
    }
    section#quemsoueu{
        width: 400px;
        background-color: #f4d9dce7;
        padding: 20px;
        text-align: justify;
        border-radius: 10px;
        border-style: double;
        margin-top: 30px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.374)
     
    }
    section#formacao{
        width: 400px;
        background-color: #f4d9dce7;
        padding: 20px;
        text-align: justify;
        border-radius: 10px;
        border-style: double;
        margin-top: 30px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.374)

    }
    h2#psicologa{
        color: black;
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 15px;
        padding: 4px;
        margin-top: 100px;
        margin-right: 0px;
        margin-left: 0px;
    }
    footer > p{
        margin: 0px;
    }
    h2{
        color: black;
    }
   
    div#video{
        object-position: right;
        width: auto;
        border-radius: 15px;
        background-color: #F4D9DC;
        padding: 20px;
        width: 800px;
        position: absolute;
        right: 50px;
        top: 350px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.374)

    }